body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("../images/gamebackGround.jpg");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/*
modal
*/
.modal {
  display: block;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 7% auto;
  padding: 20px;
  box-shadow: 3px 3px 3px rgb(132, 208, 243), -3px -3px 3px rgb(78, 236, 241);
  border: 2px solid #888;
  border-radius: 20px;
  max-width: 400px;
  position: relative;
}

.greetingBird {
  display: block;
  width: 100%;
  height: 100%;
}
.modalContent button {
  width: 22%;
  cursor: pointer;
  height: 5vh;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  color: aliceblue;
  background-color: rgb(55, 152, 243);
}
.afterGreeting {
  box-sizing: border-box;
  display: none;
  height: 90vh;
}
.audioDiv {
  position: absolute;
}
.soundImg img {
  padding: 20px;
  width: 50px;
  height: 50px;
}
.infoBoxs {
  height: 13%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.infoBoxs div {
  font-size: 20px;
  background-color: aliceblue;
  box-shadow: 6px 6px 6px rgb(150, 247, 95), -6px -6px 6px rgb(139, 248, 96);
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  width: 10%;
}
.tree1 {
  position: absolute;
  bottom: 8%;
  left: 10%;
  width: 30%;
}
.tree2 {
  width: 30%;
  position: absolute;
  bottom: 8%;
  left: 60%;
}
.lives {
  box-sizing: border-box;
  height: 10vh;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: aliceblue;
  font-weight: bold;
  box-shadow: 6px 6px 6px rgb(150, 247, 95), -6px -6px 6px rgb(139, 248, 96);
  text-align: center;
  border: none;
  border-radius: 2px;
  width: 10vw;
  position: absolute;
  bottom: 0%;
  margin-left: 20px;
}
