body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
}
.main {
  animation: mymove forwards; /* 1.5s */
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 10% 90%;
}
.soundImg img {
  padding: 20px;
  width: 50px;
  height: 50px;
}
.playBtn {
  width: 15%;
  height: 15%;
  align-self: center;
  padding-right: 20px;
  justify-self: center;
  margin-right: 70px;
  margin-top: 70px;
}
.playBtn button {
  padding-inline: 20px;
  padding-block: 20px;
  font-size: x-large;
  color: aliceblue;
  background-color: rgb(39, 68, 231);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
@keyframes mymove {
  0% {
    width: 50px;
    height: 100px;
    background-size: 10%;
  }
  70% {
    width: 30vw;
    height: 30vh;
    background: url("../images/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    width: 100vw;
    height: 100vh;
    /* transform: rotate(360deg); */
    background: url("../images/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#loginForm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#formContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out;
  background-color: rgb(147, 222, 241);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 60px;
  border: solid;
  width: 35px;
  height: 34px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 192, 192);
  color: rgb(71, 77, 67);
}

#startForm {
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#startForm label {
  padding: 5px;
  margin: 2px;
}
#startForm input {
  padding: 5px;
  border: solid 2px;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}
#startForm button {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 30px;
}
#startForm a {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 30px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border: solid;
  background-color: rgb(83, 80, 233);
  color: beige;
  text-align: center;
  padding-block: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
